.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #161616;
    height: 6vh;
    box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.navbar-zone {
    width: 50px;
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: #e5e7eb;
    font-weight: 500;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #2e2e2e;
}