<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/website/style.css">
    <link rel="stylesheet" href="/header.css">
    <link rel="icon" href="/images/ZoneCo.png">
    <title>Uriot Studio</title>
</head>
<body>
<div class="navbar">
    <img src="/images/ZoneCo.png" draggable="false" alt="icon" class="navbar-zone">

    <div class="nav-links">
        <a href="#">Home</a>
        <a href="#">Regulamin</a>
        <a href="#">Premium</a>
        <a href="#">Wesrzpij Nas</a>
    </div>
</div>

    <div class="title-user">Witaj drogi użytkowniku</div>
    <div class="Description-main">Zapraszamy Do naszych Projektów Oraz Skryptów i wiele innych</div>
    <button class="glass-btn">Skontaktuj Się Z nami</button>
    <button class="glass-btn-one">Przeglądaj Projekty</button>

    <div class="separator"></div>
    <div class="separator-black"></div>

    <div class="title-engine">Silniki Stron</div>

    <div class="container-egine-expresjs">
        <img src="commingsoon">
    </div>
<script src="/script.js"></script>
</body>
</html>